.carousel {
    position:relative;
    overflow: hidden;
  }

.carouselItem {
    float:left;
}

.carouselContainer{
    transition: transform 0.3s;
    transform:translate3d(0,0,0);
}

.carouselContainer::after{
    content: '';
    clear: both;
    display: table;
}
.carouselNext, .carouselPrev{
    position: absolute;
    width:40px ;
    height: 40px;
    background: #fff url(../next.svg) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top : 50%;
    margin-top: -20px;
    right: 0%;
    box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
    cursor:pointer;

}
.carouselPrev{
    background: #fff url(../left-arrow.svg) center center no-repeat;
    right: auto;
    left: -20px;
}

.carouselNext:hover, .carouselPrev:hover{
    transform: scale(1.2);
}

.carouselNext--hidden{
    opacity: 0;
}