<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bestfilm.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/herobanner.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/carousel.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/modal.css') }}" />
    <script src="{{ url_for('static', filename='script/carousel.js') }}"></script>
    <title>test</title>
</head>
<body>
<header>
    <div class="wrapper bg_grey_text_white">
        <div class="c1_r1 middle left">
            <p>JustStreamIt</p>
        </div>
        <div class="c2_r1 middle right">
            <a href=#>Accueil</a>
        </div>
        <div class="c3_r1 middle">
            <a href=#>Catégories</a>
        </div>
    </div>
</header>
    <div class="bestfilm">
        <div class ="c1_r1 title">
            <p>{{best_film[0]["title"]}}</p>
        </div>
        <div class ="c1_r1 button">
            <a id="Bouton">Play</a>
        </div>
        <div class ="c2_r2 img">
            <img class="js-modal" href=#film{{best_film[0]["id"]}} src={{best_film[0]["image_url"]}}>
        </div>
        <aside id=film{{best_film[0]["id"]}} class="modal hidden">
            <div class=modal_wrapper>
                <button class="js-modal-close"> fermer</button>
                <p>Titre du film : {{best_film[0]["title"]}}</p>
                <p>Genre du film :</p>
                {%for genre in best_film[0]["genres"]%}
                <p> - {{genre}}</p>
                {% endfor %}
                <img src="{{best_film[0]["image_url"]}}" alt="" class = "right">
                <p>Sa date de sortie : {{best_film[0]["date_published"]}}</p>
                <p>Rated : {{best_film[0]["rated"]}}</p>
                <p>Score Imdb : {{best_film[0]["imdb_score"]}} </p>
                <p>Réalisateur :  </p>
                {%for director in best_film[0]["directors"]%}
                <p> - {{director}}</p>
                {% endfor %}
                <p>Acteurs : <p>
                {%for actor in best_film[0]["actors"]%}
                <p> - {{actor}}</p>
                {% endfor %}
                <p>Durée : {{best_film[0]["duration"]}} minutes</p>
                <p>Pays d’origine :  </p>
                {%for country in best_film[0]["countries"]%}
                <p> - {{country}}</p>
                {% endfor %}
                <p>Résultat au Box Office : {{best_film[0]["budget"]}} {{best_film[0]["budget_currency"]}}</p>
                <p>Résumé du film : {{best_film[0]["long_description"]}}</p>
            </div>
        </aside>
    </div>
    <p class="centre">Films les mieux notés</p>
    <div id="carouselbest">
        {% for film in best_films %}
            <div class="itemImage">
                <img class="js-modal" href=#film{{film["id"]}} src={{film["image_url"]}} alt="" >
            </div>
        {% endfor %}
    </div>
    <p class="centre">{{theme1}}</p>
    <div id="carousel1">
        {% for film in theme1_film %}
        <div class="itemImage">
            <img class="js-modal" href=#film{{film["id"]}} src={{film["image_url"]}} alt="" >
        </div>
        {% endfor %}
    </div>
    <p class="centre">{{theme2}}</p>
    <div id="carousel2">
        {% for film in theme2_film %}
        <div class="itemImage">
             <img class="js-modal" href=#film{{film["id"]}} src={{film["image_url"]}} alt="" >
        </div>
        {% endfor %}
    </div>
    <p class="centre">{{theme3}}</p>
    <div id="carousel3">
        {% for film in theme3_film %}
        <div class="itemImage">
             <img class="js-modal" href=#film{{film["id"]}} src={{film["image_url"]}} alt="" >
        </div>
        {% endfor %}
    </div>
{% for film in best_films %}
        <aside id=film{{film["id"]}} class="modal hidden">
               <div class=modal_wrapper>
                   <button class="js-modal-close"> fermer</button>
                   <p>Titre du film : {{film["title"]}}</p>
                   <p>Genre du film :</p>
                   {%for genre in film["genres"]%}
                   <p> - {{genre}}</p>
                   {% endfor %}
                   <img src="{{film["image_url"]}}" alt="" class = "right">
                   <p>Sa date de sortie : {{film["date_published"]}}</p>
                   <p>Rated : {{film["rated"]}}</p>
                   <p>Score Imdb : {{film["imdb_score"]}} </p>
                   <p>Réalisateur :  </p>
                   {%for director in film["directors"]%}
                   <p> - {{director}}</p>
                   {% endfor %}
                   <p>Acteurs : <p>
                   {%for actor in film["actors"]%}
                   <p> - {{actor}}</p>
                   {% endfor %}
                   <p>Durée : {{film["duration"]}} minutes</p>
                   <p>Pays d’origine :  </p>
                   {%for country in film["countries"]%}
                   <p> - {{country}}</p>
                   {% endfor %}
                   <p>Résultat au Box Office : {{film["budget"]}} {{film["budget_currency"]}}</p>
                   <p>Résumé du film : {{film["long_description"]}}</p>
               </div>
        </aside>
{% endfor %}

{% for film_one in theme1_film %}
        <aside id=film{{film_one["id"]}}  class="modal hidden">
               <div class=modal_wrapper>
                   <button class="js-modal-close"> fermer</button>
                   <p>Titre du film : {{film_one["title"]}}</p>
                   <p>Genre du film :</p>
                   {%for genre in film_one["genres"]%}
                   <p> - {{genre}}</p>
                   {% endfor %}
                   <img src="{{film_one["image_url"]}}" alt="" class = "right">
                   <p>Sa date de sortie : {{film_one["date_published"]}}</p>
                   <p>Rated : {{film_one["rated"]}}</p>
                   <p>Score Imdb : {{film_one["imdb_score"]}} </p>
                   <p>Réalisateur :  </p>
                   {%for director in film_one["directors"]%}
                   <p> - {{director}}</p>
                   {% endfor %}
                   <p>Acteurs : <p>
                   {%for actor in film_one["actors"]%}
                   <p> - {{actor}}</p>
                   {% endfor %}
                   <p>Durée : {{film_one["duration"]}} minutes</p>
                   <p>Pays d’origine :  </p>
                   {%for country in film_one["countries"]%}
                   <p> - {{country}}</p>
                   {% endfor %}
                   <p>Résultat au Box Office : {{film_one["budget"]}} {{film_one["budget_currency"]}}</p>
                   <p>Résumé du film : {{film_one["long_description"]}}</p>
               </div>
        </aside>
{% endfor %}

{% for film in theme2_film %}
        <aside id=film{{film["id"]}}  class="modal hidden">
               <div class=modal_wrapper>
                   <button class="js-modal-close"> fermer</button>
                   <p>Titre du film : {{film["title"]}}</p>
                   <p>Genre du film :</p>
                   {%for genre in film["genres"]%}
                   <p> - {{genre}}</p>
                   {% endfor %}
                   <img src="{{film["image_url"]}}" alt="" class = "right">
                   <p>Sa date de sortie : {{film["date_published"]}}</p>
                   <p>Rated : {{film["rated"]}}</p>
                   <p>Score Imdb : {{film["imdb_score"]}} </p>
                   <p>Réalisateur :  </p>
                   {%for director in film["directors"]%}
                   <p> - {{director}}</p>
                   {% endfor %}
                   <p>Acteurs : <p>
                   {%for actor in film["actors"]%}
                   <p> - {{actor}}</p>
                   {% endfor %}
                   <p>Durée : {{film["duration"]}} minutes</p>
                   <p>Pays d’origine :  </p>
                   {%for country in film["countries"]%}
                   <p> - {{country}}</p>
                   {% endfor %}
                   <p>Résultat au Box Office : {{film["budget"]}} {{film["budget_currency"]}}</p>
                   <p>Résumé du film : {{film["long_description"]}}</p>
               </div>
        </aside>
{% endfor %}
{% for film in theme3_film %}
        <aside id=film{{film["id"]}}  class="modal hidden">
               <div class=modal_wrapper>
                   <button class="js-modal-close"> fermer</button>
                   <p>Titre du film : {{film["title"]}}</p>
                   <p>Genre du film :</p>
                   {%for genre in film["genres"]%}
                   <p> - {{genre}}</p>
                   {% endfor %}
                   <img src="{{film["image_url"]}}" alt="" class = "right">
                   <p>Sa date de sortie : {{film["date_published"]}}</p>
                   <p>Rated : {{film["rated"]}}</p>
                   <p>Score Imdb : {{film["imdb_score"]}} </p>
                   <p>Réalisateur :  </p>
                   {%for director in film["directors"]%}
                   <p> - {{director}}</p>
                   {% endfor %}
                   <p>Acteurs : <p>
                   {%for actor in film["actors"]%}
                   <p> - {{actor}}</p>
                   {% endfor %}
                   <p>Durée : {{film["duration"]}} minutes</p>
                   <p>Pays d’origine :  </p>
                   {%for country in film["countries"]%}
                   <p> - {{country}}</p>
                   {% endfor %}
                   <p>Résultat au Box Office : {{film["budget"]}} {{film["budget_currency"]}}</p>
                   <p>Résumé du film : {{film["long_description"]}}</p>
               </div>
        </aside>
{% endfor %}

</body>
<script src="{{ url_for('static', filename='script/modal.js') }}"></script>
</html>


