<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/carousel.css') }}" />
    <script src="{{ url_for('static', filename='script/carousel.js') }}"></script>
    <title>test</title>
</head>
<body>
<header>
    <div class="wrapper bg_grey_text_white">
    <div class="c1_r1 middle-left">JustStreamIt</div>
    <div class="c2_r1 middle-right"><a href=#>accueil</a></div>
    <div class="c3_r1 middle-left"><a href=#>Catégories</a></div>
    </div>
</header>
    <div id="carousel1">
        {% for film in films1 %}
        <div class="itemImage">
            <img src={{film["image_url"]}} alt="" >
        </div>
        {% endfor %}

    </div>
</body>

</html>